$color-white: #fff;
$color-black: #000;
$color-gray: #eee;
$color-blue: #0033ab;
$color-light-blue: #0be;
$color-light-light-blue: rgba(#0033ab, 0.1);
$color-yellow: #fcbd30;
$color-light-yellow: rgba($color-yellow, 0.1);
$color-dark-yellow: #e8a206;
$color-dark-blue: #026;
$color-dark-gray: #222;
$color-gray: #4a4a4a;
$color-light-gray: #9b9b9b;
$color-light: #eee;
$color-orange: #ff6900;
$color-red: #ab003e;
$color-bright-red: #e70022;
$color-light-blue: #0be;
$color-green: #00953a;
$color-light-green: #7dba00;
$color-textured-black: #222;
$grey-fog: #979797;
