<div class="slab-container">
	<section class="slab slab--center bg-blue slab-nostyle" id="par-slab_copy_1994737674">
		<div class="container-fluid">
			<header class="slab__header">
				<h2 class="slab__title h2 color-white ">Customer Service</h2>
				<p>For assistance finding your local retailer or service center, or for general questions, contact customer service by phone or email below.</p>
			</header>
			<div class="slab__content slab__content">
				<div class="contentblocks">
					<section class="content-blocks">
						<div class="container-fluid">
							<div class="content-blocks__items">
								<div class="contentblock content-blocks__item section">
									<div class="content-blocks__item">
										<img class="g-icon-large" src="/img/phone_white.svg" alt="Call">
										<h2 class="content-blocks__item-title h6">Call</h2>
										<p style="text-align: center;"><span
													class="color-white">M–F 8am–5pm CT</span><br>
										</p>
										<div class="content-blocks__cta-container text-align--center mt-3">
											<a href="tel:+1-800-690-2894" target="_self" name="tel:+1-800-690-2894"
											   class="btn btn--underline-white ">
												(800)-690-2894
											</a>
										</div>
									</div>
								</div>
								<div class="contentblock content-blocks__item section">
									<div class="content-blocks__item">
										<img class="g-icon-large" src="/img/mail_white.svg" alt="Send us a message">
										<h2 class="content-blocks__item-title h6">Send us a message</h2>
										<div class="content-blocks__cta-container text-align--center mt-3">
											<a href="/us/en/homeowner/forms/paint-case-form.njk" target="_self"
											   name="paint-case-form" class="btn btn--underline-white ">
												Send
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
	</section>
</div>
