<!-- UPDATE -->
<div class="pb-4 progressive-form-section search-by-family tabbed-filters__tab-content dl-categories px-0 {% if searchByPart !== true %}is-active{% endif %}">
	<div class="d-flex flex-wrap flex-md-nowrap flex-row justify-content-center">
		<div class="col-12 col-sm-6 col-lg-6 mt-2 mb-3 ">
			<label for="product-category" class="h7 color-gray text-align--left">
				Material or Application
				<span class="color-bright-red">*</span>
			</label>
			<div class="g-select">
				<select name="product-category-DL" id="product-category"
						class="color-light-gray">
					<option value="">
						Select a Category
					</option>
					<option
							value="/content/graco/north-america/en/homeowner/products/paint-sprayer-accessories">
						Paint Sprayer Accessories
					</option>
					<option
							value="/content/graco/north-america/en/homeowner/products/paint-sprayers">
						Paint Sprayers
					</option>
				</select>
			</div>
		</div>
		<div class="col-12 col-sm-6 col-lg-6 mt-2 mb-3 " style="display:none">
			<label for="product-family" class="h7 color-gray text-align--left">
				Product Family
				<span class="color-bright-red">*</span>
			</label>
			<div class="g-select ">
				<select name="product-family-DL" id="product-family" class="color-light-gray"
						disabled="">
					<option value="">
						Select a Family
					</option>
					<option
							value="/content/graco/north-america/en/homeowner/products/paint-sprayer-accessories/guns">
						Airless Spray Guns
					</option>
					<option
							value="/content/graco/north-america/en/homeowner/products/paint-sprayer-accessories/batteries-chargers">
						Batteries &amp; Chargers
					</option>
					<option
							value="/content/graco/north-america/en/homeowner/products/paint-sprayers/diy-series">
						DIY Series
					</option>
					<option
							value="/content/graco/north-america/en/homeowner/products/paint-sprayer-accessories/extensions">
						Extensions
					</option>
					<option
							value="/content/graco/north-america/en/homeowner/products/paint-sprayer-accessories/filters-strainers">
						Filters &amp; Strainers
					</option>
					<option
							value="/content/graco/north-america/en/homeowner/products/paint-sprayer-accessories/hoppers">
						Hoppers
					</option>
					<option
							value="/content/graco/north-america/en/homeowner/products/paint-sprayer-accessories/hoses">
						Hoses
					</option>
					<option
							value="/content/graco/north-america/en/homeowner/products/paint-sprayer-accessories/lacquer-conversion-kits">
						Lacquer Conversion Kits
					</option>
					<option
							value="/content/graco/north-america/en/homeowner/products/paint-sprayer-accessories/liners-containers">
						Liners &amp; Containers
					</option>
					<option
							value="/content/graco/north-america/en/homeowner/products/paint-sprayers/pro-series">
						Pro Series
					</option>
					<option
							value="/content/graco/north-america/en/homeowner/products/paint-sprayers/project-series">
						Project Series
					</option>
					<option
							value="/content/graco/north-america/en/homeowner/products/paint-sprayer-accessories/pump-replacements-parts">
						Pump Replacements &amp; Parts
					</option>
					<option
							value="/content/graco/north-america/en/homeowner/products/paint-sprayer-accessories/roller-systems-covers">
						Roller Systems &amp; Covers
					</option>
					<option
							value="/content/graco/north-america/en/homeowner/products/paint-sprayer-accessories/spray-tips-tip-guards">
						Spray Tips &amp; Tip Guards
					</option>
					<option
							value="/content/graco/north-america/en/homeowner/products/paint-sprayer-accessories/storage-cases">
						Storage Cases
					</option>
					<option
							value="/content/graco/north-america/en/homeowner/products/paint-sprayer-accessories/storage-fluid">
						Storage Fluid
					</option>
					<option
							value="/content/graco/north-america/en/homeowner/products/paint-sprayer-accessories/suction-tube-sets">
						Suction Tube Sets
					</option>
				</select>
			</div>
		</div>
		<div class="col-12 col-sm-6 col-lg-6 mt-2">
			<label for="product-model" class="h7 color-gray text-align--left ">Product Model
			</label>
			{# YOU WILL NEED TO HANDLE THE DISABLED Class and attribute on the select #}
			<div class="g-select g-select--disabled">
				<select name="product-model-DL" id="product-model" class="color-light-gray" disabled>
					<option value="">Select a Model</option>
					<option
							value="AIRLESSACC,MAGNUMACC">DEWALT 20V MAX 2.0 Ah Lithium Ion Battery Pack
					</option>
					<option
							value="AIRLESSACC,MAGNUMACC">DEWALT 20V MAX Lithium Ion Battery Charger
					</option>
					<option value="MAGNUMACC">DuraFlex Hose 1/4 in x 25 ft</option>
					<option value="MAGNUMACC">DuraFlex Hose 1/4 in x 50 ft</option>
					<option value="MAGNUMACC">DuraFlex Hose, 3/16 in x 25 ft</option>
					<option value="MAGNUMACC">DuraFlex Whip Hose 3/16 in x 4 ft</option>
					<option value="AIRLESSACC">Endurance Pump Lower Kit for Pro210ES</option>
					<option value="AIRLESSACC,MAGNUMACC">FlexLiner Bags 32 oz 3 pack</option>
					<option value="AIRLESSACC,MAGNUMACC">FlexLiner Bags 42 oz 3 pack</option>
					<option value="MAGNUMACC">FlexLiner System 32 oz</option>
					<option value="AIRLESSACC,MAGNUMACC">FlexLiner System 42 oz</option>
					<option value="MAGNUMACC">Gun Filter 100 mesh</option>
					<option value="MAGNUMACC">Gun Filter 60 mesh</option>
					<option value="AIRLESSACC,MAGNUMACC">Handheld Filter 100 mesh</option>
					<option value="AIRLESSACC,MAGNUMACC">Handheld Filter 60 mesh</option>
					<option value="MAGNUMACC">Handheld Storage Bag</option>
					<option value="MAGNUMACC">Heavy Duty Extension 40 in</option>
					<option value="FPAAA">Hopper for Small Electric &amp; FinishPro AA Airless
					</option>
					<option value="MAGNUMACC">Hose Connector 1/4 in x 1/4 in</option>
					<option value="MAGNUMACC">Inlet Strainer</option>
					<option value="MAGNUMACC">Inlet Strainer for Pro210ES</option>
					<option value="MAGNUMACC">InstaClean Filter</option>
					<option value="AIRLESSACC">Kit, Pump Armor, 8 oz</option>
					<option value="MAGNUMACC">Lacquer Conversion Kit for Cart Models</option>
					<option value="MAGNUMACC">Lacquer Conversion Kit for Stand Models</option>
					<option value="MAGNUMACC">Pressure Roller Kit</option>
					<option value="MAGNUMACC">ProXChange Pump</option>
					<option value="MAGNUMACC">Pump Armor 1 qt</option>
					<option value="MAGNUMACC">Pump Armor, 1 gal</option>
					<option value="MAGNUMACC">RAC IV SwitchTip 211</option>
					<option value="MAGNUMACC">RAC IV SwitchTip 311</option>
					<option value="MAGNUMACC">RAC IV SwitchTip 313</option>
					<option value="MAGNUMACC">RAC IV SwitchTip 411</option>
					<option value="MAGNUMACC">RAC IV SwitchTip 413</option>
					<option value="MAGNUMACC">RAC IV SwitchTip 415</option>
					<option value="MAGNUMACC">RAC IV SwitchTip 417</option>
					<option value="MAGNUMACC">RAC IV SwitchTip 515</option>
					<option value="MAGNUMACC">RAC IV SwitchTip 517</option>
					<option value="MAGNUMACC">RAC IV SwitchTip 619</option>
					<option value="MAGNUMACC">RAC IV SwitchTip 621</option>
					<option value="MAGNUMACC">Repair Kit, Suction Tube, ProX17, ProX19, Stand
					</option>
					<option value="MAGNUMACC">Roller Cover 1/2 in nap</option>
					<option value="MAGNUMACC">Roller Cover 3/4 in nap</option>
					<option value="MAGNUMACC">SG2 Metal Spray Gun</option>
					<option value="MAGNUMACC">SG3 Metal Spray Gun</option>
					<option value="MAGNUMACC">Single Seal Gasket</option>
					<option value="MAGNUMACC">Spray Tip Extension 10 in</option>
					<option value="MAGNUMACC">Spray Tip Extension 15 in</option>
					<option value="MAGNUMACC">Spray Tip Extension 20 in (50.8 cm)</option>
					<option value="MAGNUMACC">Spray Tip Extension 30 in</option>
					<option value="MAGNUMACC">Spray Tip Guard</option>
					<option value="AIRLESSACC">Storage Case</option>
					<option value="MAGNUMACC">Suction Tube Set for Cart Models</option>
					<option value="MAGNUMACC">TC Pro PLUS Tip Guard</option>
					<option value="MAGNUMACC">TC Pro SwitchTip 208</option>
					<option value="MAGNUMACC">TC Pro SwitchTip 210</option>
					<option value="MAGNUMACC">TC Pro SwitchTip 212</option>
					<option value="MAGNUMACC">TC Pro SwitchTip 308</option>
					<option value="MAGNUMACC">TC Pro SwitchTip 310</option>
					<option value="MAGNUMACC">TC Pro SwitchTip 312</option>
					<option value="MAGNUMACC">TC Pro SwitchTip 314</option>
					<option value="MAGNUMACC">TC Pro SwitchTip 410</option>
					<option value="MAGNUMACC">TC Pro SwitchTip 412</option>
					<option value="MAGNUMACC">TC Pro SwitchTip 414</option>
					<option value="MAGNUMACC">TC Pro SwitchTip 514</option>
					<option value="MAGNUMACC">TC Pro SwitchTip 516</option>
					<option value="MAGNUMACC">TC Pro Tip Guard</option>
					<option value="AIRLESSACC">Triax Replacement Pump for Corded Handheld
					</option>
					<option value="AIRLESSACC">Triax Replacement Pump for Cordless Handheld
					</option>
					<option
							value="AIRLESSACC">Triax Replacement Pump for MAX/PLUS Cordless Handheld
					</option>
					<option value="TRUEAIRLESS,MAGNUMACC">TrueAirless 209 Spray Tip</option>
					<option value="TRUEAIRLESS,MAGNUMACC">TrueAirless 211 Spray Tip</option>
					<option value="TRUEAIRLESS,MAGNUMACC">TrueAirless 309 Spray Tip</option>
					<option value="TRUEAIRLESS,MAGNUMACC">TrueAirless 311 Spray Tip</option>
					<option value="TRUEAIRLESS,MAGNUMACC">TrueAirless 313 Spray Tip</option>
					<option value="TRUEAIRLESS,MAGNUMACC">TrueAirless 315 Spray Tip</option>
					<option value="TRUEAIRLESS,MAGNUMACC">TrueAirless 411 Spray Tip</option>
					<option value="TRUEAIRLESS,MAGNUMACC">TrueAirless 413 Spray Tip</option>
					<option value="TRUEAIRLESS,MAGNUMACC">TrueAirless 415 Spray Tip</option>
					<option value="TRUEAIRLESS,MAGNUMACC">TrueAirless 417 Spray Tip</option>
					<option value="TRUEAIRLESS,MAGNUMACC">TrueAirless 515 Spray Tip</option>
					<option value="TRUEAIRLESS,MAGNUMACC">TrueAirless 517 Spray Tip</option>
					<option value="TRUEAIRLESS,MAGNUMACC">TrueAirless 519 Spray Tip</option>
					<option value="TRUEAIRLESS,MAGNUMACC">TrueAirless 521 Spray Tip</option>
					<option value="TRUEAIRLESS,MAGNUMACC">TrueAirless 619 Spray Tip</option>
					<option value="TRUEAIRLESS,MAGNUMACC">TrueAirless 621 Spray Tip</option>
					<option value="MAGNUMACC">TrueCoat 360 Large Cup Conversion Kit</option>
					<option value="MAGNUMACC">TrueCoat 360 Spray Tips</option>
				</select>
			</div>
		</div>
	</div>
</div>
