<div class="col-12 {% if showFindRetailersButton === false %}hidden{% endif %}">
	<div class="dl-submit-button">
		<button type="submit" href="#" class="btn btn--bg-blue w-100 dl-button">
			Find Retailers
			<img src="/img/map_pin_white.svg" alt="" class="btn__icon">
		</button>
	</div>
</div>
<div class="pt-4 dl-apply-button" style="display:none">
	<button type="submit" href="#" class="btn btn--bg-blue w-100">
		Apply
		<img src="/img/map_pin_white.svg" alt="" class="btn__icon">
	</button>
</div>
<div class="pt-4 dl-apply-button" style="display:none">
	<button class="btn btn--bg-white w-100 dl-white-btn"
			onclick="filterToggle(); return false;">
		Cancel
		<img src="/img/map_pin_white.svg" alt="" class="btn__icon">
	</button>
</div>
