<!-- UPDATE -->
<div class="pt-4 dl-filters js-search-products-by {% if showSearchByChoices === false %}hidden{% endif %}">
	<div class="d-flex flex-wrap flex-md-nowrap flex-row justify-content-center">
		<div class="col-12 col-lg-12">
			<div class="d-flex flex-wrap flex-md-nowrap align-items-center">
				<div class="col-auto h7 text-align--left mb-0 pl-0 py-2">Search Products By:
					<span class="color-bright-red">*</span>
				</div>
				<div class="d-flex flex-wrap">
					<div class="g-radio-button">
						<input type="radio" class="sr-only" id="choice-four" name="search-by" value="family" checked="true">
						<label for="choice-four">Material or Application</label>
					</div>
					<div class="g-radio-button">
						<input type="radio" class="sr-only" id="choice-five" name="search-by" value="number">
						<label for="choice-five">Part Number (Model)</label>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="pb-4 dl-wtb-text">
	<hr>
	<p>You are searching for:
		<span class="resWTB"></span>
		(<a href="#" onclick="window.location = window.location.pathname + window.location.hash;">Change</a>)
	</p>
</div>
