<div class="d-flex flex-wrap flex-row">
	<div class="col-12 col-sm-6 col-lg-4 mt-2 mb-3 pl-0">
		<label for="product-category" class="h7 color-gray text-align--left">
			Filter By Product Family
			<span class="color-bright-red">*</span>
		</label>
		<div class="g-select">
			<select name="product-category-DL" id="product-category" class="color-light-gray">
				<option value="">
					Select a Product Family
				</option>
				<option value="/content/graco/north-america/en/homeowner/products/paint-sprayer-accessories">
					Paint Sprayer Accessories
				</option>
				<option value="/content/graco/north-america/en/homeowner/products/paint-sprayers">
					Paint Sprayers
				</option>
			</select>
		</div>
	</div>
	<div class="col-12 col-sm-6 col-lg-3 mt-2 mb-3 pr-0">
		<label for="product-category" class="h7 color-gray text-align--left">
			Services
			<span class="color-bright-red">*</span>
		</label>
		<div class="g-select">
			<select name="product-category-DL" id="product-category" class="color-light-gray">
				<option value="">
					All Dealers
				</option>
				<option value="">
					Option 2
				</option>
				<option value="">
					Option 3
				</option>
			</select>
		</div>
	</div>
</div>

<section class="d-flex flex-wrap flex-row justify-content-between">
	<div class="col-6 pl-0">
		<p class="small color-light-gray">Graco cannot guarantee product will be in stock or available for purchase. Please contact your retailer
			for pricing and availability. Some product subject to special order status.</p>
	</div>
	<div class="col-auto pr-0">
		{% if results !== true %}<p>0 results</p>{% endif %}
		{% if results == true %}<p>2 results withing 10 miles of 55401</p>{% endif %}
	</div>
</section>
