<div class="pt-4 dl-filters js-search-products-by {% if showSearchByChoices === false %}hidden{% endif %}">
	<div class="col-12">
		<div class="h7 text-align--left ">Search Products By:
			<span class="color-bright-red">*</span>
		</div>
		<div class="d-flex flex-wrap pt-2 pb-2">
			<div class="g-radio-button">
				<input type="radio" class="sr-only" id="choice-four" name="search-by" value="family" checked="">
				<label for="choice-four">Material or Application</label>
			</div>
			<div class="g-radio-button">
				<input type="radio" class="sr-only" id="choice-five" name="search-by" value="number">
				<label for="choice-five">Part Number (Model)</label>
			</div>
		</div>
	</div>
</div>
<!--THIS MAY NEED TO COME OUT OF THIS BLOCK -->
<div class="pb-4 dl-wtb-text">
	<hr>
	<p>You are searching for:
		<span class="resWTB"></span>
		(<a href="#" onclick="window.location = window.location.pathname + window.location.hash;">Change</a>)
	</p>
</div>
