<section class="d-flex justify-content-center flex-row flex-wrap align-items-center">
	<div class="col-12 col-sm-auto ">
		<img height="100" width="auto" src="https://www.graco.com/content/dam/pim/graco/ced/paint/16Y385_TrueCoat_360_190730_Main.jpg/_jcr_content/renditions/cq5dam.thumbnail.600.600.png.transform/600x600/image.jpg" alt="">
	</div>
	<div class="col-12 col-sm-auto text-sm-left">
		<p class="m-0">TrueCoat 360 Electric TrueAirless Sprayer</p>
		<a id="toggleProductSearch" href="#" class="primary-color btn p-0 m-0">
			Change Product
		</a>
	</div>
</section>
