<!-- UPDATE -->
<div class="d-flex flex-row justify-content-center">
	<div class="col-12 col-lg-10 px-0 px-sm-3">
		<section class="d-flex justify-content-center flex-row flex-wrap align-items-center collection border border-secondary rounded mb-3">
			<div class="col-12 col-sm-auto text-center">
				<!-- UPDATE FPO PRODUCT IMAGE -->
				<img height="100" width="auto" src="https://www.graco.com/content/dam/pim/graco/ced/paint/16Y385_TrueCoat_360_190730_Main.jpg/_jcr_content/renditions/cq5dam.thumbnail.600.600.png.transform/600x600/image.jpg" alt="">
			</div>
			<div class="col-12 col-sm-auto text-center text-sm-left">
				<p class="m-0 p-large">Precision Dispense Parts and Accessories</p>
				<!-- UPDATE
					This call a function in app.js toggleProductSearch
					the data-target is what is target the hidden element
				-->
				<a id="jsToggleProductSearch" data-target="productSearch" href="#" class="primary-color btn btn--small p-0 m-0">
					Change Product
				</a>
			</div>
		</section>
	</div>
</div>
