{% extends 'layouts/layout.njk' %}

{% block header %}
{% include "partials/header-basic.njk" %}
{% endblock %}

{% block content %}

<div class="slab-container">
	<section class="slab slab--center">
		<div class=" container-fluid">
			<header class="slab__header">
				<h1 class="slab__title h1">Find A Service Center</h1>
				<p>
					Graco partners with authorized retailers&nbsp;to provide you with local sales and service support,
					application expertise and availability of inventory, including parts and accessories.</p>
			</header>
		</div>
	</section>
</div>

<div class="distributorlocatorhomeowner">

	<div class="js-tabbed-filters-dl"
		 data-dl-filter-models-servlet-href="https://www.graco.com/us/en/homeowner/how-to-buy/find-a-retailer/_jcr_content/par/distributorlocatorho.models.json">
		<div class="container-fluid">
			<div class="row slab-tab-content is-active js-slab-tabs-content" id="locator-content">
				<div class="col-12 px-0">
					<input type="hidden" id="moreInfoText" class="moreInfoText" value="Expand">
					<input type="hidden" id="lessInfoText" class="lessInfoText" value="Collapse">
					<input type="hidden" id="salesText" class="salesText" value="Sales">
					<input type="hidden" id="serviceText" class="serviceText" value="Service Center">
					<input type="hidden" id="rentalText" class="rentalText" value="Rental">
					<input type="hidden" id="directionsText" class="directionsText" value="Directions">
					<input type="hidden" id="moreInfoStyle" class="moreInfoStyle">
					<input type="hidden" id="regionCode" name="regionCode" value="north-america">
					<input type="hidden" id="pageLanguage" name="pageLanguage" value="en">
					<input type="hidden" id="useBing" class="useBing" value="false">
					<div class="d-flex flex-wrap flex-row justify-content-center">

						<div class="col-12 col-lg-10">
							<form class="locator-form  pb-3 js-locator-form" action="/" onsubmit="findDistributors(); return false;">
								<input type="hidden" id="_charset_" name="_charset_" value="UTF-8">
								<input type="hidden" id="DLType" name="DLType" value="Homeowner">
								<input type="hidden" id="familyWTB" name="familyWTB">
								<input type="hidden" id="lang" name="lang" value="en">
								<input type="hidden" id="locale" name="locale" value="en_US">
								<input type="hidden" id="langCode" name="langCode" value="en">

								{% set showSearchByChoices = true %}
								{% include "partials/form-search-by-block.njk" %}

								{% set searchByPart = false %}
								{% include "partials/form-part-block.njk" %}
								{% include "partials/form-application-block.njk" %}

								<hr>
								<header class="py-2">
									<h4>SERVICE NEARBY</h4>
								</header>

								{% set showLocation = true %}
								{% include "partials/form-location-block.njk" %}
								<div class="help-modal" id="part-number-help-modal">
									<a class="mobile-close-help"></a>
									<div class="part-number-help-content">
										<p>Graco product part numbers are typically 6 characters and can be found on the product label, manual or box as PART/MODEL NO. See example below.</p>
										<img
												src="https://www.graco.com/content/dam/graco/design/emea/landingpage/hpcf/product_serial_series_number_King.jpg">
									</div>
									<div class="invalid-submit-msg" style="display:none">
										<p>Please make a selection in all required fields.</p>
									</div>
								</div>
								<div class="help-modal-invalid" id="invalid-submission-modal">
									<a class="mobile-close-help"></a>
									<div class="invalid-submit-msg alert-danger">
										<p id="family-submit-error"
										   style="display: none;">Please make a selection in all required fields.</p>
										<p id="part-number-submit-error"
										   style="display: block;">Please enter your part number in the provided field and select a suggested part number.</p>
									</div>
								</div>

								<section class="d-flex flex-wrap flex-row justify-content-between">
									<div class="col-6">
										<p class="small color-light-gray">Graco cannot guarantee product will be in stock or available for purchase. Please contact your retailer
											for pricing and availability. Some product subject to special order status.</p>
									</div>
									<div class="col-auto">
										<p>0 results</p>
									</div>
								</section>

							</form>
						</div>
					</div>
				</div>
			</div>


			<div class="col-12">
				{% set results = true %}
				<section id="results" class="d-flex flex-wrap flex-row justify-content-center">
					<div class="result col-12 col-lg-10 border border-light-gray rounded mb-4 {% if results == true %}hidden{% endif %}">
						<p class="color-light-gray text-center py-4">Search for dealers and stores but city, state, or Zip code</p>
					</div>
					<div class="result col-12 col-lg-10 border border-light-gray rounded mb-4 {% if results !== true %}hidden{% endif %}">
						<p class="color-light-gray text-center py-4">I am a result</p>
					</div>
				</section>
			</div>
		</div>
	</div>

	<script src="https://www.graco.com/content/dam/graco/design/corporate/js/dealerPrograms.js"></script>
	<script src="https://www.graco.com/content/dam/graco/design/corporate/js/dealerWTBText.js"></script>

	{% set showOnlineResults = false %}
	{% include "partials/online-results-block.njk" %}
	{% include "partials/customer-service-block.njk" %}
</div>
{% endblock %}

{% block footer %}
{% endblock %}
