{%- extends 'layouts/layout.njk' -%}

{% block title %}
	Home
{% endblock %}

{% block content %}
	<div class="pt-4 px-4 pb-4">
		<h2 class="h1">Compare Products Updates</h2>
		<hr>
		<h4>Graco - Buy Online</h4>
		<div class="px-3">
			<ol class="py-0">
				{% for item in links.buyonline -%}
					<li>
						<a target="_blank" href="{{ item.link }}">{{ item.title }}</a>
					</li>
				{%- endfor %}
			</ol>
		</div>
		<h4>Graco - Sales Rep Visibility</h4>
		<div class="px-3">
			<ol class="py-0">
				{% for item in links.sales -%}
					<li>
						<a target="_blank" href="{{ item.link }}">{{ item.title }}</a>
					</li>
				{%- endfor %}
			</ol>
		</div>
		<footer>
			<p class="color-light-gray" style="font-size: 12px; line-height: 1.2;">
				I need the expanded results for the locations with results<br>
				Clarity on the sticky for Product Family and Category<br>
				On the find nearby what happens on mobile for retailers and distributors <br>
				Is it load more or load all? Show more or show all?
			</p>
			<div class="site-footer__copyright">© Graco Inc. All rights reserved.</div>
		</footer>
	</div>
{% endblock %}
