{%- extends 'layouts/layout.njk' -%}

{% block title %}
	Home
{% endblock %}

{% block content %}
	<div class="pt-4 px-4 pb-4">
		<h2 class="h1">Compare Products Updates</h2>
		<hr>
		<h4>Graco - Buy Online</h4>
		<div class="px-3">
			<ol class="py-0">
				{% for item in links.buyonline -%}
					<li>
						<a target="_blank" href="{{ item.link }}">{{ item.title }}</a>
					</li>
				{%- endfor %}
			</ol>
		</div>
		<h4>Graco - Sales Rep Visibility</h4>
		<div class="px-3">
			<ol class="py-0">
				{% for item in links.sales -%}
					<li>
						<a target="_blank" href="{{ item.link }}">{{ item.title }}</a>
					</li>
				{%- endfor %}
			</ol>
		</div>
		<footer>
			<h5 class="color-gray">Notes</h5>
			<p>
				Search the html files for <code>--UPDATE--</code> to find the specific places where
				the ui was updated. <br>
				Within some of the ui updates you should also find a few other comments.<br>
				The Zip file will have all the files bundled up as well as the scss and js files seperated out<br>
				to help make the integration a bit easier. They too, have comments.
			</p>
			<div class="site-footer__copyright">© Graco Inc. All rights reserved.</div>
		</footer>
	</div>
{% endblock %}
