{%- extends 'layouts/layout.njk' -%}

{% block title %}
	Home
{% endblock %}

{% block content %}
	<div class="pt-4 px-4 pb-4">
		<h2 class="h1">Compare Products Updates</h2>
		<hr>
		<h4>Graco - Buy Online</h4>
		<div class="px-3">
			<ol class="py-0">
				{% for item in links.buyonline -%}
					<li>
						<a target="_blank" href="{{ item.link }}">{{ item.title }}</a>
					</li>
				{%- endfor %}
			</ol>
		</div>
		<h4>Graco - Sales Rep Visibility</h4>
		<div class="px-3">
			<ol class="py-0">
				{% for item in links.sales -%}
					<li>
						<a target="_blank" href="{{ item.link }}">{{ item.title }}</a>
					</li>
				{%- endfor %}
			</ol>
		</div>
		<footer>
			<h5 class="color-gray">Notes</h5>
			<p class="color-light-gray" style="font-size: 15px; line-height: 1.2;">
				✅ = Signifies a sense of completion
			</p>
			<p class="color-light-gray" style="font-size: 15px; line-height: 1.5;">
				Need to get badge and tool tip in to distributor results
				The Sales Rep Category Page and WTB from Product will be quick.
			</p>
			<div class="site-footer__copyright">© Graco Inc. All rights reserved.</div>
		</footer>
	</div>
{% endblock %}
